// 검정색 버튼
a.button, a.button_large, a.button_line, a.button_line_large, a.button_line_xlarge
	display: inline-block
	text-decoration: none

.button , .button_large, .button_line, .button_line_large, .button_line_xlarge
	box-sizing: border-box
	padding: 0 35px
	height: 50px
	border-radius: 3px
	border-right: 1px solid #2c2a2b
	border-bottom: 1px solid #2c2a2b
	//box-shadow: 1px 1px 1px #2c2a2b
	background-color: #4b4748
	color: #fff
	font-weight: 600
	+font-size(16px)
	line-height: 50px
	vertical-align: top
	text-align: center
	@extend %pie-ie

	&.scarlet
		background-color: $scarlet
		border-color: #e42b38
		color: #fff

	&.emerald
		background-color: $emerald
		border-color: #11abb5
		color: #fff

.button_large
	height: 60px
	line-height: 60px

.button_large .icon, .button_line .icon, .button_line_xlarge .icon
	display: inline-block
	margin:
		right: 9px
		top: -4px
	+size(22px, 22px)
	@extend %is
	background-position: -250px -580px
	vertical-align: middle

	&.upload
		background-position: -250px -580px

	&.arrow_left
		background-position: -300px -580px

	&.arrow_right
		background-position: -350px -580px

	&.check
		background-position: -400px -580px

	&.search
		background-position: -200px -700px

	&.delete
		background-position: -150px -700px

	&.cancel
		background-position: -210px -580px

.button_line 
	.icon.delete, .icon.search
		+size(14px, 14px)
		margin-right: 4px


.button_line, .button_line_large, .button_line_xlarge
	height: 33px
	border: 1px solid #4b4748
	border-radius: 2px
	background-color: #787878
	+font-size(14px)
	line-height: 33px
	&.scarlet
		border-color: #d31829
	&.white
		border-color: #eb3a4a
		background-color: #fff
		color: #eb3c4b
	&.white_other
		border-color: #19bdc6
		background-color: #fff
		color: #19bdc6

.button_line_large
	height: 40px
	line-height: 40px

.button_line_xlarge
	height: 60px
	border-radius: 4px
	line-height: 60px
	+font-size(16px)

	.icon
		+size(28px, 27px)
		margin-right: 6px
		&.note
			background-position: -150px -650px
		&.pen
			background-position: -200px -650px

	& + &
		margin-left: 1px

.fix100, .fix117, .fix120, .fix70, .fix130, .fix80, .fix185, .fix110
	padding: 0

.fix70
	width: 70px
.fix80
	width: 80px
.fix100
	width: 100px
.fix110
	width: 110px
.fix117
	width: 117px
.fix120
	width: 120px
.fix130
	width: 130px
.fix185
	width: 185px








// 소셜 버튼
.button_sns
	box-sizing: border-box
	display: inline-block
	padding: 0 18px
	height: 37px
	border-radius: 4px
	background-color: #787878
	color: #fff
	+font-size(12px)
	font-family: $dotum
	line-height: 37px
	.ie8 &
		position: relative
		@extend %pie

	&.report
		background-color: #eb3b4b

	&.share
		padding-left: 15px
		background-color: #3B569D

	.icon
		display: inline-block
		margin-right: 8px
		+size(17px, 17px)
		background: url(#{$path}/bg_collect.png) no-repeat 0 0
		vertical-align: middle

	&.feel .icon
		margin-top: -3px
		background-position: -100px -220px

	&.report .icon
		margin-top: -3px
		background-position: 0 -220px

	&.share .icon
		background-position: -43px -220px

.button_sns:hover
	color: #fff

// intro ( 회원가입, 로그인 )
.button_intro
	box-sizing: border-box
	display: inline-block
	padding-left: 49px
	+size(330px, 49px)
	@extend %is
	color: #FEFEFE
	+font-size(16px)
	text-align: center
	line-height: 49px
	&:hover
		text-decoration: none

	&.red
		background-position: 0 -490px

	&.blue
		background-position: -370px -400px

	&.yellow
		background-position: -370px -490px
		color: #9D9408
