// 메인 컨텐츠 카드형식 
// 리뷰 박스 핑크색
.masonry
	.item
		overflow: hidden
		float: left
		width: 285px
		margin: 20px
		border-radius: 10px
		background-color: #fff
		box-shadow: 1px 1px 2px rgba(#000, 0.1)
		text-align: center
		@extend %pie

		> a
			display: block
			border-top: 7px solid #EB3B4B
			text-decoration: none
			
			.ie8 &
				border-radius: 10px
				border-top: 0
				@extend %pie

		.school_name
			display: block
			padding-top: 18px
			+font-size(16px)
			color: #333
			font-weight: 600

		.grade_average
			display: block
			margin-top: 7px
			color: #e0e0e0
			+font-size(11px)

		.rating_star_wrap
			margin-top: 2px

		.list_info, .best_review, .state
			font-family: $dotum
			+font-size(11px)

		.list_info
			overflow: hidden
			padding: 0 20px
			color: #555

			.ie8 &
				margin-top: 25px
				
			&::before
				content: ""
				display: block
				width: 30px
				margin: 11px auto 14px
				border-top: 1px solid #DBDBDB
		
			li
				box-sizing: border-box
				float: left
				width: 50%
				+font-size(11px)
				color: #555

			li.full
				width: 100%

		.best_review
			margin-top: 17px
			padding: 0 20px
			border-top: 1px solid #f6f6f6
			text-align: left
			color: #ADADAD

			.nickname
				display: block
				padding: 8px 0 8px

		.state
			overflow: hidden
			margin-top: 9px
			border-top: 1px solid #f6f6f6
			font-weight: bold
			color: #ACACAC

			> div
				box-sizing: border-box
				float: left
				padding: 12px 0 12px
				width: 33%
				border-left: 1px solid #f6f6f6

				&:first-child
					border-left: 0

			.center
				width: 34%
			
			.review, .note, .check 
				display: inline-block
				margin-right: 4px
				+size(16px, 16px)
				background: url(#{$path}/bg_collect.png) no-repeat
				text-indent: -9999px

			.review
				background-position: -250px -240px
			.note
				background-position: -300px -240px
			.check
				background-position: -350px -240px

// 사진 있을 때
.masonry
	.item
		.photo 
			position: relative
			height: 203px
			> img
				position: absolute
				left: 0
				top: -7px
				+size(285px, 210px)
				border-top-left-radius: 10px
				border-top-right-radius: 10px
				.ie8 & 
					border-radius: 10px
					@extend %pie
					top: 0
			.icon
				position: absolute
				margin-left: -(67px/2)
				bottom: -(67px/2)
				left: 50%
				display: inline-block
				+size(67px, 67px)
				background: url(#{$path}/bg_collect.png) no-repeat -400px -300px
				.ie8 & 
					bottom: -40px

			& + .school_name
				padding-top: 42px
				.ie8 & 
					padding-top: 49px

$item2_color: #19bdc6
// 상담수첩 박스 녹색
.masonry.other
	.item
		> a
			border-color: $item2_color

		.satisfy_average
			display: block
			margin-top: 4px
			+font-size(13px)
			color: #ADADAD
			font-weight: 700

		.score
			+font-size(15px)
			color: #19BDC6

		.photo .icon
			background-position: -500px -300px

// 리뷰 박스 후버 시
.masonry
	.item
		a:hover, a:focus
			background-color: #EB3B4B

			.school_name, .grade_average, .list_info li, .best_review, .state, .rating_star_wrap .score
				color: #fff

			.best_review, .state, .state > div
				border-color: #e86d78

			.rating_star .inner
				background-position: 0 -460px

// 상담 수첩 박스 후버 시
.masonry.other
	.item
		a:hover, a:focus
			background-color: $item2_color

			.school_name, .grade_average, .list_info li, .best_review, .state, .satisfy_average
				color: #fff

			.best_review, .state, .state > div
				border-color: #55c8ce

			.score
				color: #04575F

// 박스 후버 공통
.masonry, .masonry.other
	.item
		a:hover, a:focus
			.review
				background-position: -250px -200px

			.note
				background-position: -300px -200px

			.check
				background-position: -350px -200px

			.list_info li
				background: url(#{$path}/bul_dot_white.png) no-repeat 0 5px



