.paging
	overflow: hidden
	margin-top: 40px
	line-height: 32px
	text-align: center

	a, strong
		display: inline-block
		// margin: 2px
		width: 33px
		height: 33px
		border: 1px solid #ddd
		vertical-align: middle
		font-weight: bold
		font-family: "tahoma"
		+font-size(11px)
		background-color: #f6f6f6

	span
		font-size: 0
		text-indent: -999px

	strong, a:hover
		background-color: #eb3b4b
		color: #fff
		border: 1px solid #db1c2e
		vertical-align: top

	.first, .prev, .next, .last
		@extend %is
		&:hover
			background-color: #fff
			border-color: #ddd

	.prev , .last
		margin-left: -5px

	.prev
		margin-right: 16px
	.next
		margin-left: 16px

	.first
		background-position: -1px -581px

	.prev
		background-position: -51px -581px

	.next
		background-position: -101px -581px

	.last
		background-position: -151px -581px

.paging.other

	strong, a:hover
		background-color: #19bdc6
		border: 1px solid #18acb4

	.first, .prev, .next, .last
		&:hover
			background-color: #fff
			border-color: #ddd
