<div class="popup_wrap">
	<div class="inner">
		<button type="button">닫기</button>
		<div class="head">
			<h3>익명기반 솔직담백 어린이집 리뷰</h3>
		</div>
		<div class="body">
			<form action="#">
				<fieldset>
					<legend>닉네임 입력 양식</legend>
					<input type="text" name="nickname" id="nickname" title="닉네임을 입력해주세요." placeholder="닉네임을 입력해주세요.">
					<span class="note">사용 가능한 닉네임입니다.</span>
					<div class="btn_wrap">
						<button type="button" class="button arrow large">고수맘 시작하기</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>