<!doctype html>
<html class="no-js" lang="ko-KR">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Gosumom</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="/public/css/style.css">
<!-- <link rel="stylesheet" href="/public/css/menu_sideslide.css"> -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="/public/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<div style="width:960px;margin:0 auto;">
		<button type="button" class="button">button</button>
		<button type="button" class="button line">button</button>
		<button type="button" class="button line large">button</button>
		<button type="button" class="button large">button</button>
		<button type="button" class="button mint">button</button>
		<hr>
		<button type="button" class="button full">button</button>
		<hr>
		<button type="button" class="button line large full">button</button>
		<hr>
		<button type="button" class="button arrow">고수맘 시작하기</button>
		<button type="button" class="button arrow large">고수맘 시작하기</button>
		<button type="button" class="button arrow large side">고수맘 시작하기</button>
	</div>
</body>
</html>