//
 * --------------------------------
 * Sass 설정 변수
 * --------------------------------

$page-width: 1200px

// 배경 색상
$bg-color         : #F7F7F7
$main-point-color : #EB3B4B

$scarlet      : #eb3b4b // 다홍색
$emerald      : #19bdc6 // 에메랄드색

// 하이퍼링크 색상
$link-color       : #e95e4c
$link-hover-color : darken($link-color, 6%)

// font-family
$base-font-size   : 10px
$nanumG           : "나눔고딕", "Nanum Gothic"
$nanumBG          : "나눔바른고딕", "Nanum Barun Gothic"
$dotum            : "돋움", "dotum"
$open             : "Open Sans", sans-serif
$play             : "Play", sans-serif

// font-size
$base-font-size   : 14px !default
$base-line-height : $base-font-size * 1.6

// font-color
$base-font-color  : #343434
$light-font-color : #8d8f92
$dark-font-color  : #707070
$em-font-color    : #36b679

$path             : /momHTML2/public/img
$path-is          : url(../img/bg_collect.png)
