<!doctype html>
<html class="no-js" lang="ko-KR">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Gosumom</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="/momHTML/public/css/style.css">
<!-- <link rel="stylesheet" href="/momHTML/public/css/menu_sideslide.css"> -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="/momHTML/public/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body class="main">
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- Add your site or application content here -->

	<button type="button" class="button_phone_check">휴대폰 인증 팝업 띄우기</button>

	<!-- 핸드폰 인증 레이어 팝업 -->
	<div id="popup_phone_check" class="popup_wrap" style="display: block;">
		<div class="inner">
			<button type="button" class="popup_close">닫기</button>
			<div class="head">
				<h3>믿음가는 리뷰를 위한 단 한 번의 인증!</h3>
			</div>
			<div class="body phone_check">
				<form action="#">
					<fieldset>
						<legend class="hidden">닉네임 입력 양식</legend>
						<p class="guide">
							부정을 방지하고 당사자가 직접 리뷰를 작성하는 원칙에 의하여 <br/>
							계정당 1회 SMS 인증을 실시합니다.
						</p>

						<label for="phone_check" class="label_text">휴대폰 번호 입력</label>
						<input type="text" name="phone_check" id="phone_check" maxlength="3" class="phone" title="핸드폰 처음 3자리 입력"> <span class="bar"></span>
						<input type="text" name="phone_check" id="phone_check2" maxlength="4" class="phone" title="핸드폰 중간 4자리 입력"> <span class="bar"></span>
						<input type="text" name="phone_check" id="phone_check3" maxlength="4" class="phone" title="핸드폰 마지막 4자리 입력">
						<button type="button" class="button line large send">인증번호 받기</button>

						<label for="confirm" class="label_text">인증번호 입력</label>
						<input type="text" name="confirm" id="confirm">
						<p class="note">유효성 검사 결과</p>

						<div class="btn_wrap">
							<button type="submit" class="button arrow large confirm">인증하기</button>
						</div>

					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<!-- 핸드폰 인증 레이어 팝업 -->


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/momHTML/public/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="/momHTML/public/js/vendor/jquery.endless-scroll.js"></script>
	<!--<script src="/momHTML/public/js/main-offCanvas.js"></script>-->
	<script src="/momHTML/public/js/classie.js"></script>
	<script src="/momHTML/public/js/vendor/masonry.pkgd.min.js"></script>
	<script src="/momHTML/public/js/vendor/jquery.bpopup.min.js"></script>
	<script src="/momHTML/public/js/main.js"></script>
	<script>

		// 핸드폰 인증 팝업
		$('.button_phone_check').click(function(){
			$('#popup_phone_check').bPopup({
				closeClass: 'popup_close'
			});
		});
	</script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
	// (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	// function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	// e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	// e.src='//www.google-analytics.com/analytics.js';
	// r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	// ga('create','UA-XXXXX-X','auto');ga('send','pageview');
	</script>
</body>
</html>
