<!doctype html>
<html class="no-js" lang="ko-KR">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Gosumom</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="/momHTML/public/css/style.css">
<!-- <link rel="stylesheet" href="/momHTML/public/css/menu_sideslide.css"> -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="/momHTML/public/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body class="login">
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<!-- Add your site or application content here -->

	<div class="container">
		<!-- mobile header -->
		<div class="small_view tab_bar">
			<header class="header small_view">
				<h1 class="logo"><a href="#"><img src="/momHTML/public/img/logo_gosumom.png" alt=""></a></h1>
				<button class="button_menu" id="button_menu"><i class="fa fa-bars fa-2x"></i><span class="hidden">메뉴</span></button>
				<button class="button_search" id="button_searching"><i class="fa fa-search fa-2x"></i><span class="hidden">검색</span></button>
			</header>
			<div class="left-off-canvas-menu">
				<button class="close-button" id="close-button">메뉴 닫기</button>
				<!-- mobile mypage -->
				<div class="mypage_wrap">
					<span class="logo"><img src="" alt="Gosumom"></span>
					<p>속시원히 이야기 할 수 있는<br/> <strong>익명보장</strong> 엄마들의 정보 창고</p>
					<a href="#" class="button button_login">로그인</a>
					<div class="user_menu_wrap">
						<a href="#" class="info_modify">회원정보수정</a>
						<a href="#" class="my_review_list">나의 리뷰 보기</a>
					</div>
				</div>
				<!-- //mobile mypage -->
				<div class="menu-wrap">
					<nav class="menu">
						<h2 class="hidden">주메뉴</h2>
						<div class="icon-list">
							<a href="#"><i class="fa fa-fw fa-star-o"></i><span>고수맘을 시작하는 이유</span></a>
							<a href="#"><i class="fa fa-fw fa-bell-o"></i><span>어린이집 리뷰</span></a>
							<a href="#"><i class="fa fa-fw fa-envelope-o"></i><span>커뮤니티: 고수맘의 생생 Talk</span></a>
						</div>
					</nav>
				</div>
			</div>
			<div class="right-off-canvas-menu">
				<div class="searching_wrap">
					<div class="wrapper">
						<form action="#">
							<fieldset>
								<legend class="hidden">어린이집 찾기</legend>
								<strong>시/군/구 선택</strong>

								<!-- 시/도 선택 -->
								<div class="select_custom">
									<a href="#" class="select_insert">
										<strong>전체</strong>
										<button type="button">지역보기</button>
									</a>
									<div class="select_option">
										<ul>
											<li><a href="#">서울</a></li>
											<li><a href="#">경기</a></li>
											<li><a href="#">강원도</a></li>
										</ul>
									</div>
								</div>

								<!-- 시/군/구 선택 -->
								<div class="select_custom">
									<a href="#" class="select_insert">
										<strong>전체</strong>
										<button type="button">지역보기</button>
									</a>
									<div class="select_option">
										<ul>
											<li><a href="#">서울</a></li>
											<li><a href="#">경기</a></li>
											<li><a href="#">강원도</a></li>
										</ul>
									</div>
								</div>

								<!-- 검색창 -->
								<input type="text" name="" id="" placeholder="어린이집명을 입력하세요">
								<button type="submit" class="button_searching">검색</button>
							</fieldset>
						</form>
					</div><!-- //.wrapper -->
				</div><!-- //.searching_wrap -->
			</div>
		</div>
		<!-- //mobile header -->

		<!-- desktop header -->
		<header class=" large_view header top_bar">
			<div class="wrapper">
				<h1 class="logo"><a href="main.html"><img src="/momHTML/public/img/logo_gosumom.png" alt="Gosumom"></a></h1>

				<nav class="gnb">
					<h2 class="hidden">주메뉴</h2>
					<ul>
						<li><a href="#">고수맘을 시작하는 이유</a></li>
						<li><a href="#">어린이집 리뷰</a></li>
						<li class="community"><a href="#">커뮤니티 : 고수맘의 생생 Talk</a><span class="coming_soon"><img src="/momHTML/public/img/coming_soon.png" alt="comin soon"></span></li>
					</ul>
				</nav><!-- //.gnb -->

				<div class="user_wrap togglebox">
					<!-- 로그인 하기 전 -->
					<!-- <a href="#" class="user_thumb"></a> -->

					<!-- 로그인 한 후 login 클래스 붙여짐-->
					<a href="#" class="user_thumb login toggle_btn"><img src="/momHTML/public/img/@login.jpg" alt=""></a>
					<div class="user_menu_wrap toggle_content">
						<ul>
							<li><span class="icon my_info"></span><a href="mypage.html">회원정보수정</a></li>
							<li><span class="icon my_review"></span><a href="#">나의리뷰보기</a></li>
							<li><span class="icon logout"></span><a href="#">로그아웃</a></li>
						</ul>
					</div>
				</div><!-- //.user_wrap -->
			</div>
		</header>
		<!-- //desktop header -->

		<div class="content_layer">

			<div class="content_wrap">
				<div class="wrapper">
					<div class="login_wrap">
						<h3 class="title">
							<strong>"익명기반 솔직담백 어린이집 리뷰"</strong> <br>
							엄마들의 작은 공유가 세상을 바꿉니다.
						</h3>
						<form action="#">
							<fieldset>
								<legend>회원가입</legend>
								<div class="facebook_login">
									<button type="button" class="button_full blue">페이스북으로 회원가입</button>
								</div>
								<input type="text" name="use_email" id="use_email" placeholder="이메일 주소를 입력해주세요.">
								<input type="text" name="use_nickname" id="use_nickname" placeholder="닉네임을 입력해주세요.">
								<input type="password" name="use_pw" id="use_pw" placeholder="비밀번호를 입력해 주세요.">
								<input type="password" name="use_pw_re" id="use_pw_re" placeholder="비밀번호를 한 번 더 입력해 주세요.">
								<button type="button" class="button_full">회원가입하기</button>
								<p class="already_signup">
									<span class="note_green">이미 가입을 하셨나요?</span><a href="#">로그인 하기</a>
								</p>
							</fieldset>
						</form>
					</div>
				</div><!-- //.wrapper -->
			</div><!-- //.content-wrap -->

			<footer class="footer">
				<div class="wrapper">
					<ul class="etc_menu">
						<li><a href="#">사업자 정보</a></li>
						<li><a href="#">이용약관</a></li>
						<li><a href="#">개인정보 취급방침</a></li>
						<li><a href="#">청소년 보호정책</a></li>
					</ul>
					<p class="copyright">© 2015 GOSUMOM. All Rights Reserved</p>
				</div>
			</footer>
		</div>

	</div><!-- //.container -->


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/momHTML/public/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="/momHTML/public/js/vendor/jquery.endless-scroll.js"></script>
	<script src="/momHTML/public/js/main-offCanvas. js"></script>
	<script src="/momHTML/public/js/classie.js"></script>
	<script src="/momHTML/public/js/vendor/masonry.pkgd.min.js"></script>
	<script src="/momHTML/public/js/main.js"></script>
	<script>

		//$('.off-canvas').offCanvas();
		$('#box-layer').masonry({
			"isFitWidth": true
		  //columnWidth: '.grid-sizer',
		  //itemSelector: '.item'
		});
	</script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
	// (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
	// function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
	// e=o.createElement(i);r=o.getElementsByTagName(i)[0];
	// e.src='//www.google-analytics.com/analytics.js';
	// r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
	// ga('create','UA-XXXXX-X','auto');ga('send','pageview');
	</script>
</body>
</html>
